<!-- <h1>Bem Vindo ao DesIntegrados App!</h1>
<h2>O melhor reconstrutor de imagens de ultrassom de todos os tempos</h2>

<h3>Insira as informações abaixo para obter a imagem reconstruída</h3>

<div ng-app="myApp" ng-controller="formCtrl">
  <form novalidate>
    Nome:<br>
    <input type="text" ng-model="user.Nome"><br>
    E-mail:<br>
    <input type="text" ng-model="user.email">
    <br>
    Tamanho da imagem:<br>
    <input type="text" ng-model="user.tamanho">
    <br>
    Ganho:<br>
    <input type="text" ng-model="user.ganho">
    <br>
    Endereço da Imagem:<br>
    <input type="text" ng-model="user.endereço">
    <br><br>
    <button ng-click="reset()">RESET</button>
    
    <button ng-click="reset()">Enviar</button>
  </form>
</div> -->
	
<app-formulario></app-formulario>
<router-outlet></router-outlet>
